
/*Colors  */
$c-green:#73BE46;
$c-gray:#D0D2D3;
$c-black:#000000;
$c-black-75:rgb(64, 64, 64);
$c-black-50:rgb(128, 128, 128);
$c-black-30:rgb(179, 179, 179);
$c-black-15:rgb(217, 217, 217);
$c-black-7:rgb(237, 237, 237);



$c-white:#fff;

$c-red:#FA1414;
$c-red-dark:rgb(252, 137, 137);




