
/*Colors  */
$c-green:#73BE46;
$c-gray:#D0D2D3;
$c-black:#000000;
$c-black-05:rgba(0,0,0,0.5);
$c-black-75:rgba(0,0,0,0.75);
$c-black-50:rgb(128, 128, 128);
$c-black-30:rgba(0,0,0,0.30);
$c-black-15:rgb(217, 217, 217);
$c-black-7:rgba(0,0,0,0.07);


$c-white:#fff;

$c-red:#FA1414;
$c-red-dark2:rgb(252, 137, 137);
$c-red-dark:rgba(250,20,20,0.5);

$c-primary:$c-red-dark;
$c-primary_hover:$c-red-dark;


