.vdpComponent {
  margin: 0 -10px;
}

.vdpOuterWrap {
  .vdpInnerWrap {
    padding: 0;
    border: unset;
    border-radius: unset;
    box-shadow: unset;

    .vdpHeader {
      background: unset;
      padding-bottom: 2em;
      margin: 0;
      @media(max-width: 575px){
        padding-top: 16px;
        padding-bottom: 10px;
      }

      .vdpPeriodControls {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .vdpPeriodControl {
          @media(max-width: 575px) {
            font-size: 15px;
          }
          @extend %font-medium;
          color: red;
          font-size: 20px;
          letter-spacing: 0.2px;
          line-height: 21px;
          text-align: center;
          button {
            padding: 0 10px;


          }
        }
      }

      .vdpArrow {
        background: $c-black-30;
        @media (max-width: 575px) {
          width: 2.5em;
          top: 15px;
          bottom: 3em;
        }


        &.vdpArrowPrev {
          left: 10px;
        }

        &.vdpArrowNext {
          right: 10px;
        }
      }
    }

    .vdpTable {
      thead {
        tr {
          th.vdpHeadCell {
            padding-bottom: 10px;
            color: $c-black-30;
            font-size: 13px;

            span {
              color: inherit;
            }
          }
        }
      }

      tbody {

        .vdpRow {
          .vdpCell {
            @media (min-width: 576px) {
              padding: 10px;
            }
            padding: 5px;
            @extend %font-medium;
            font-size: 20px;
            letter-spacing: 0.2px;
            line-height: 21px;
            text-align: center;

            &.selected {
              .vdpCellContent {
                /*background-color: $c-red;
                box-shadow: 5px 5px 0px 0px $c-red-dark;
                color: #fff;
                border: unset;*/
                background-color: $c-black-50;
                color: #fff;
              }
            }

            &:hover {
              .vdpCellContent {
                background-color: $c-red;
                box-shadow: 5px 5px 0px 0px $c-red-dark;
                color: #fff;
                border: unset;
              }
            }

            &.disabled {
              .vdpCellContent {
                border: unset;
                color: $c-black;
              }
            }

            &.today {
              .vdpCellContent {
                border: unset;
              }
            }

            &.outOfRange {
              .vdpCellContent {
                color: $c-black-15;
                border: 1px solid $c-black-15;
              }
            }

            .vdpCellContent {
              @media (min-width: 1200px) {
                padding: 15px;
              }

              @media (min-width: 768px) and (max-width: 1199px) {
                padding: 25px;

              }
              @media (min-width: 576px) and (max-width: 765px) {
                padding: 10px;
              }
              border-radius: unset;
              padding: 5px;
              font-size: 20px;
              letter-spacing: 0.2px;
              line-height: 21px;
              text-align: center;
              height: unset;
              width: unset;
              border: 1px solid $c-black-30;
              color: $c-black-50;
            }
          }
        }
      }
    }
  }
}

.vdpOuterWrap .vdpInnerWrap .vdpHeader {
  .vdpArrow {
    font-size: 0px;
    width: 40px;
    height: 40px;
    text-indent: unset;
    background-color: $c-black-7;
  }

  .vdpArrow {
    &:before, &:after {
      content: unset;
      font-family: 'fond-lublin-icon', serif !important;
      font-size: 12px;
      width: unset;
      height: unset;
      text-align: center;
      line-height: 40px;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
    }

    &.vdpArrowPrev {
      &:before {
        content: "\e900";

      }
    }

    &.vdpArrowNext {
      &:before {
        content: "\e916";

      }
    }
  }
}


