// button




//input+++++++++++++++++++
.form-group.custom {
  margin-bottom: 2px;

  .form-control.custom,
  .form-control-plaintext,
  .custom-select,
  .custom-file,
  textarea.custom{
    @extend  %font-regular;
    border: 1px solid $c-black-30;
    border-radius: unset;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 1rem;
&:focus,&:active{
  box-shadow: unset;
}
    &::placeholder {
      @extend  %font-regular;
      color: $c-black-50;
      font-size: 13px;
    }
  }
}

textarea.custom{
  border: 1px solid $c-black-30;
  padding: 5px 20px;
  &::placeholder {
    @extend  %font-regular;
    color: $c-black;
    font-size: 13px;
  }
}




/*card custom +++++++++++++++++++++*/


/*wrap-img-input ++++++++++++++++++*/
.wrap-img-input{
  img{
    width: 100%;
    height: auto;
  }

}
/*icon-link*/
.icon-link{
  color: $c-black-30;
  &:hover,&:active{
    color: $c-black;
  }
}
