#sidebar-wrapper{
  max-height: 100vh;
 }

.ps-sidebar{
  height: calc(100vh - 170px);
}
.ps-content{
  height: calc( 100vh - 65px);
  .ps__rail-y{
  }
  .ps__rail-x{
    display: none;
  }
}

.sidebar{
  position: relative;
  .list-group,.sidebar-footer{
    .list-group-item{
      font-size: 15px;
      @extend %font-medium;
      border: unset;
      color: $c-black-30;
      -webkit-transition: unset;
      -moz-transition: unset;
      -ms-transition: unset;
      -o-transition: unset;
      transition: unset;
      transition:color .5s ease ;

      &:hover,&.active{
        color: $c-black;
        background-color: unset;
      }


     span.icon{
        font-size: 1.5em;
     }
    }

  }
  .sidebar-footer{
    border-top: 1px solid $c-black-30;
    padding-top: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
  }
}

