@import "font";
@import "color";
@import "element";
@import "_default";
@import "_form-check";
@import "datapicker";
@import "treeselect";
@import "figure";

.Vv {
  outline: 1px solid navy;
}

.Cc {
  border: 1px solid red;
}


h1 {
  @extend %font-medium;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 48px;
}

h2 {
  @extend %font-medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.c-green {
  color: $c-green;
}

.bgc-green {
  background-color: $c-green;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
p{
  margin-bottom: 0.5rem;

}
/*----------------------------------------*/

/*-------------------DANIEL---------------------*/

//SIDEBAR
#sidebar-wrapper {
  background-color: #D8D8D8;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

//CONTENT
#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
/*-------------------DANIEL---------------------*/
