@import "font";
@import "color";
@import "element";
@import "_default";
@import "_form-check";
@import "datapicker";
@import "figure";

.Vv {
  outline: 1px solid navy;
}

.Cc {
  border: 1px solid red;
}


h1 {
  @extend %font-medium;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 48px;
}

h2 {
  @extend %font-medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.c-green {
  color: $c-green;
}

.bgc-green {
  background-color: $c-green;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
p{
  margin-bottom: 0.5rem;

}
/*----------------------------------------*/

