.custom.table-responsive {
  border: 1px solid $c-black-30;

  table {

    thead {
      font-size: 13px;

      tr {
        text-align: center;
        th[aria-sort]::before{
          float: unset;
          padding-right: .5rem;
        }
        th {
          text-align: left;
          white-space: nowrap;
          padding: 15px 0;
          border-bottom: unset;
          &:before {
          }
        }
      }
    }

    tbody {
      border-top: 2px solid $c-black-30;

      tr {
        td {
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}
